.tableContainer {
  overflow-x: auto;
  background: white;
  padding: 16px;
  border-radius: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border-bottom: 1px solid #e5e7eb;
  padding: 12px;
  text-align: left;
}